[submodule "Engine/Thirdparty/stb"]
	path = Engine/Thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/Thirdparty/Assimp"]
	path = Engine/Thirdparty/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/Thirdparty/mimalloc"]
	path = Engine/Thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
